@tailwind base;
@tailwind components;
@tailwind utilities;

/* Globals */
html,
body {
  @apply min-h-screen max-w-[100vw] overflow-x-hidden bg-[#121316] text-white font-manrope antialiased scroll-smooth;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background: transparent;
}
::-moz-scrollbar {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: linear-gradient(115deg, #ffb3b3 0%, hsl(240, 100%, 65%) 100%);
  border-radius: 20px;
}
/* Underline Effect */
.effect-underline:after {
  content: '';
  position: absolute;
  display: inline-block;
  height: 1em;
  width: 102%;
  border-bottom: 1px solid;
  margin-top: 10px;
  bottom: -2px;
  left: 1px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.effect-underline:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* Shadows */
.top-inset-shadow {
  -webkit-box-shadow: inset 0px 7px 6px 0px rgba(0, 0, 0, 0.88);
  -moz-box-shadow: inset 0px 7px 6px 0px rgba(0, 0, 0, 0.88);
  box-shadow: inset 0px 7px 6px 0px rgba(0, 0, 0, 0.88);
}
.bottom-inset-shadow {
  -webkit-box-shadow: inset 0px -7px 6px 0px rgba(0, 0, 0, 0.88);
  -moz-box-shadow: inset 0px -7px 6px 0px rgba(0, 0, 0, 0.88);
  box-shadow: inset 0px -7px 6px 0px rgba(0, 0, 0, 0.88);
}
.shadow-drop {
  -webkit-box-shadow: 0px 8px 14px 0px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 0px 8px 14px 0px rgba(0, 0, 0, 0.61);
  box-shadow: 0px 8px 14px 0px rgba(0, 0, 0, 0.61);
}

/* Navbar */
.logo {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #ff75a1 0%, #1a40ff 100%);
  overflow: visible;
  position: relative;
  aspect-ratio: 1 / 1;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.blur-effect-nav {
  background: rgba(255, 255, 255, 0.001);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
}
.button-default-nav {
  box-sizing: border-box;
  flex-shrink: 0;
  width: min-content; /* 88px */
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 8px 16px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  overflow: visible;
  position: relative;
  align-content: center;
  flex-wrap: wrap;
  gap: 16;
  border-radius: 24px 24px 24px 0px;
  border: 1px solid #ffffff;
}

/* Hero */
@keyframes bounce-right {
  0% {
    transform: translateX(0);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translateX(10px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateX(0);
    animation-timing-function: ease-in;
  }
}
.arrow-right-animation {
  animation: bounce-right 1.5s infinite;
}
.updated-span-hero {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
  background-color: rgba(255, 255, 255, 0.1);
  align-content: center;
  gap: 10;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
@media (max-width: 768px) {
  .updated-span-hero {
    padding: 2px 10px 2px 8px;
  }
}
.button-gradient-hero {
  flex-shrink: 0;
  width: 220px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  align-items: center;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  background: linear-gradient(115deg, #ffb3b3 0%, hsl(240, 100%, 65%) 100%);
  overflow: visible;
  position: relative;
  padding: 0px 0px 0px 0px;
  align-content: center;
  flex-wrap: wrap;
  gap: 16;
  border-radius: 24px 24px 24px 0px;
}
.button-blur-hero {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 220px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  background-color: rgba(0, 0, 0, 0.1);
  overflow: visible;
  position: relative;
  padding: 0px 0px 0px 0px;
  align-content: center;
  flex-wrap: wrap;
  gap: 16;
  border-radius: 24px 24px 24px 0px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Companies */
.logo-company {
  background-color: #00000066;
  width: 64px;
  height: 64px;
  border-radius: 999px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Jumpstart */
.card-default-jumpstart {
  flex-shrink: 0;
  width: 300px;
  height: 400px;
  display: block;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0px 40px 40px 40px;
}
.card-info-jumpstart {
  box-sizing: border-box;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  padding-block: 8px;
  padding-inline: 18px;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  background-color: rgba(0, 0, 0, 0.2);
  overflow: visible;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.card-small-jumpstart {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 300px;
  height: min-content; /* 253px */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 0px 0px 0px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  overflow: hidden;
  position: relative;
  align-content: center;
  flex-wrap: nowrap;
  gap: 20;
  border-radius: 0px 40px 40px 40px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.move-button-jumpstart {
  box-sizing: border-box;
  width: 70px;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
  overflow: visible;
  padding: 0px 0px 0px 0px;
  align-content: center;
  flex-wrap: wrap;
  gap: 16;
  border-radius: 24px 24px 24px 0px;
  border: 1px solid #ffffff;
}
.button-learn-more-jumpstart {
  flex-shrink: 0;
  width: 220px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  background: linear-gradient(115deg, #b3c4ff 0%, #ff4d4d 100%);
  overflow: visible;
  position: relative;
  padding: 0px 0px 0px 0px;
  align-content: center;
  flex-wrap: wrap;
  gap: 16;
  border-radius: 24px 24px 24px 0px;
}

/* WhyUse */
.download-button-why-use {
  flex-shrink: 0;
  width: 220px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  background: linear-gradient(115deg, #8af2ff 0%, #1fa5ff 100%);
  overflow: visible;
  position: relative;
  padding: 0px 0px 0px 0px;
  align-content: center;
  flex-wrap: wrap;
  gap: 16;
  border-radius: 24px 24px 24px 0px;
}
.card-workout-why-use {
  box-sizing: border-box;
  flex-shrink: 0;
  max-width: 360px;
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 30px 30px 30px 30px;
  background-color: #44ccff;
  overflow: visible;
  position: relative;
  align-content: center;
  flex-wrap: nowrap;
  border-radius: 30px;
}
.card-glassmorphism-why-use {
  box-sizing: border-box;
  flex-shrink: 0;
  max-width: 360px;
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 30px 30px 30px 30px;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  background-color: rgba(0, 0, 0, 0.2);
  overflow: visible;
  position: relative;
  align-content: center;
  flex-wrap: nowrap;
  gap: 10;
  border-radius: 30px;
}
.span-glassmorphism-why-use {
  box-sizing: border-box;
  flex-shrink: 0;
  width: min-content; /* 77px */
  height: min-content; /* 35px */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 8px 16px;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  background-color: rgba(255, 255, 255, 0.2);
  overflow: visible;
  position: relative;
  align-content: center;
  flex-wrap: nowrap;
  gap: 10;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.white-card-why-use {
  box-sizing: border-box;
  flex-shrink: 0;
  color: black;
  width: 360px;
  height: min-content; /* 428px */
  flex-direction: column;
  row-gap: 10px;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 10px 10px 10px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 0px 1.003989406591571px 1.003989406591571px -0.46875px rgba(0, 0, 0, 0.19),
    0px 2.3905238345817033px 2.3905238345817033px -0.9375px rgba(0, 0, 0, 0.18252),
    0px 4.355593129692087px 4.355593129692087px -1.40625px rgba(0, 0, 0, 0.17843),
    0px 7.2410312951768185px 7.2410312951768185px -1.875px rgba(0, 0, 0, 0.17241),
    0px 11.700295645259382px 11.700295645259382px -2.34375px rgba(0, 0, 0, 0.16312),
    0px 19.140850928010877px 19.140850928010877px -2.8125px rgba(0, 0, 0, 0.14762),
    0px 32.97621127542222px 32.97621127542222px -3.28125px rgba(0, 0, 0, 0.1188),
    0px 60px 60px -3.75px rgba(0, 0, 0, 0.0625);
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
  align-content: center;
  flex-wrap: nowrap;
  gap: 10;
  border-radius: 0px 50px 50px 50px;
}
.image-container-why-use {
  width: 100%;
  height: 188px;
  display: block;
  position: relative;
  background-image: url('/3d-room.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 40px;
}
.round-user-why-use {
  box-sizing: border-box;
  width: 44px;
  height: 44px;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  border-radius: 30px;
  border: 2px solid #ffffff;
}

/* GetTheApp */
.circle1-get-the-app {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 154px;
  height: 154px;
  display: block;
  background: linear-gradient(135deg, #fc7272 0%, #df1515 100%);
  overflow: visible;
  border-radius: 500px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.circle2-get-the-app {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 228px;
  height: 228px;
  display: block;
  background: linear-gradient(
    135deg,
    rgba(255, 117, 161, 0.19) 0%,
    rgba(26, 64, 255, 0.27) 100%
  );
  overflow: visible;
  border-radius: 500px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.circle3-get-the-app {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  display: block;
  background: linear-gradient(
    135deg,
    rgba(255, 117, 161, 0.19) 0%,
    rgba(26, 64, 255, 0.27) 100%
  );
  overflow: visible;
  border-radius: 500px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.round-get-the-app {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 374px;
  height: 374px;
  display: block;
  -webkit-filter: blur(0px);
  filter: blur(0px);
  overflow: visible;
  border-radius: 500px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.card-big-get-the-app {
  box-sizing: border-box;
  width: 360px;
  height: min-content;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 10px 20px 10px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  flex-wrap: nowrap;
  gap: 20;
  position: absolute;
  border-radius: 50px 50px 0px 30px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.background-image-get-the-app {
  flex-shrink: 0;
  width: 100%;
  height: 188px;
  display: block;
  box-shadow: 0px 0.6032302072222955px 0px -0.41666666666666663px rgba(0, 0, 0, 0.07),
    0px 2.290210571630906px 0px -0.8333333333333333px rgba(0, 0, 0, 0.09113),
    0px 10px 0px -1.25px rgba(0, 0, 0, 0.1875);
  position: relative;
  background-image: url('/pink-wallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 40px;
}
.span-glassmorphism-get-the-app {
  box-sizing: border-box;
  flex-shrink: 0;
  width: min-content; /* 77px */
  height: min-content; /* 35px */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 8px 16px;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  background-color: rgba(255, 255, 255, 0.2);
  overflow: visible;
  position: relative;
  align-content: center;
  flex-wrap: nowrap;
  gap: 10;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.span-price-get-the-app {
  box-sizing: border-box;
  width: min-content; /* 61px */
  height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 8px 16px;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  background-color: rgba(255, 255, 255, 0.3);
  overflow: visible;
  align-content: center;
  flex-wrap: nowrap;
  gap: 10;
  position: absolute;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.button-gradient-get-the-app {
  flex-shrink: 0;
  width: 220px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  align-items: center;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  background: linear-gradient(115deg, #ffb3b3 0%, hsl(240, 100%, 65%) 100%);
  overflow: visible;
  position: relative;
  padding: 0px 0px 0px 0px;
  align-content: center;
  flex-wrap: wrap;
  gap: 16;
  border-radius: 24px 24px 24px 0px;
}

/* Plans */
.card1-plans {
  max-width: 370px;
  width: 100%;
  padding-block: 20px;
  height: min-content; /* 471px */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  box-shadow: 0px 2.89483612233903px 2.89483612233903px 0px rgba(0, 0, 0, 0),
    0px 6.892677056377244px 6.892677056377244px 0px rgba(0, 0, 0, 0.00996),
    0px 12.55862685727885px 12.55862685727885px 0px rgba(0, 0, 0, 0.01815),
    0px 20.87830690109316px 20.87830690109316px 0px rgba(0, 0, 0, 0.03017),
    0px 33.73585244383122px 33.73585244383122px 0px rgba(0, 0, 0, 0.04875),
    0px 55.18945350909803px 55.18945350909803px 0px rgba(0, 0, 0, 0.07975),
    0px 95.0814091774674px 95.0814091774674px 0px rgba(0, 0, 0, 0.1374),
    0px 173px 173px 0px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.6);
  overflow: visible;
  position: relative;
  align-content: center;
  flex-wrap: nowrap;
  gap: 10;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.card2-plans {
  max-width: 370px;
  width: 100%;
  height: min-content; /* 567px */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0px 68px 0px;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  box-shadow: 0px 1.6733156776526186px 1.6733156776526186px 0px rgba(0, 0, 0, 0),
    0px 3.984206390969505px 3.984206390969505px 0px rgba(0, 0, 0, 0.00996),
    0px 7.259321882820145px 7.259321882820145px 0px rgba(0, 0, 0, 0.01815),
    0px 12.068385491961365px 12.068385491961365px 0px rgba(0, 0, 0, 0.03017),
    0px 19.50049274209897px 19.50049274209897px 0px rgba(0, 0, 0, 0.04875),
    0px 31.901418213351462px 31.901418213351462px 0px rgba(0, 0, 0, 0.07975),
    0px 54.96035212570371px 54.96035212570371px 0px rgba(0, 0, 0, 0.1374),
    0px 100px 100px 0px rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.4);
  overflow: visible;
  position: relative;
  align-content: center;
  flex-wrap: nowrap;
  gap: 10;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.card3-plans {
  max-width: 370px;
  width: 100%;
  padding-block: 20px;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  box-shadow: 0px 1.6733156776526186px 1.6733156776526186px 0px rgba(0, 0, 0, 0),
    0px 3.984206390969505px 3.984206390969505px 0px rgba(0, 0, 0, 0.00996),
    0px 7.259321882820145px 7.259321882820145px 0px rgba(0, 0, 0, 0.01815),
    0px 12.068385491961365px 12.068385491961365px 0px rgba(0, 0, 0, 0.03017),
    0px 19.50049274209897px 19.50049274209897px 0px rgba(0, 0, 0, 0.04875),
    0px 31.901418213351462px 31.901418213351462px 0px rgba(0, 0, 0, 0.07975),
    0px 54.96035212570371px 54.96035212570371px 0px rgba(0, 0, 0, 0.1374),
    0px 100px 100px 0px rgba(0, 0, 0, 0.25);
  background-color: #000000;
  overflow: visible;
  position: relative;
  align-content: center;
  flex-wrap: nowrap;
  gap: 10;
  border-radius: 25px;
}
.blur-capsule-plans {
  box-sizing: border-box;
  flex-shrink: 0;
  width: min-content; /* 153px */
  height: min-content; /* 29px */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 16px 4px 8px;
  overflow: visible;
  position: relative;
  align-content: center;
  flex-wrap: nowrap;
  gap: 10;
  border-radius: 20px;
}
.button-plans {
  flex-shrink: 0;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  max-width: 220px;
  overflow: visible;
  position: relative;
  padding: 0px 0px 0px 0px;
  align-content: center;
  flex-wrap: wrap;
  border-radius: 24px 24px 24px 0px;
}
